* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

body {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;
  background-color: #fffcf4;
}

li {
  list-style-type: none;
}

.menu li {
  display: inline-block;
}
.menu a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-family: "Pragati Narrow", sans-serif;
  letter-spacing: -1px;
  color: #ff6551;
}

.menu_forside li {
  display: inline-block;
}
.menu_forside a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-family: "Pragati Narrow", sans-serif;
  letter-spacing: -1px;
  color: #ff6551;
  place-items: center;
}

footer {
  text-align: center;
  position: sticky;
  top: 100vh;
}
footer p {
  text-align: center;
  max-width: none;
  padding-bottom: 2px;
  padding-top: 90px;
}

/*---------FORSIDE------------*/

.forside_grid1 {
  font-family: "Antonio", sans-serif;
  font-size: 70px;
  letter-spacing: -4px;
  color: white;
  text-align: center;
}

.video_container {
  z-index: -1;
}
/*----------PORTFOLIO---------*/

.p_header {
  margin-top: 20px;
  text-align: center;
  max-width: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 30px;
}
.p_header h1 {
  font-size: 110px;
  display: inline-block;
  font-family: "Anton", sans-serif;
}

.portfolio h1 {
  font-size: 110px;
  font-family: "Pragati Narrow", sans-serif;
  margin-top: -45px;
}

.portfolio h2 {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: #ff6551;
  margin-top: -50px;
  margin-bottom: 10px;
}

.portfolio div {
  margin-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

/*-------------INFO------------*/

.info h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
}

.info h2 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 35px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
}

.info h3 {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  margin-bottom: 5px;
  margin-top: -5px;
}
.liste {
  list-style: none;
}

.info {
  border-bottom: 1px solid black;
}

.infotekst {
  margin-top: -36px;
}

.info p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 25px;
}

/*--------------TEMA 2---------------*/

.tema2 h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
  margin-top: 27px;
  line-height: 1;
  max-width: 12ch;
}

.titel {
  margin-top: -36px;
}

.tema2 p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 25px;
}

.tema2 a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.tema2 {
  border-bottom: 1px solid black;
}
.tema2 div {
  margin-bottom: 30px;
}

/*------------TEMA 3-----------*/

.tema3 h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
  margin-top: 27px;
  line-height: 1;
  max-width: 12ch;
}

.titel_3 {
  margin-top: -36px;
}

.tema3 p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 25px;
}

.tema3 {
  border-bottom: 1px solid black;
}

.tema3 div {
  margin-bottom: 30px;
}

/*------------TEMA 4-----------*/

.tema4 h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
  margin-top: 27px;
  line-height: 1;
  max-width: 12ch;
}

.titel_4 {
  margin-top: -36px;
}

.tema4 p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 25px;
}

.tema4 {
  border-bottom: 1px solid black;
}

.tema4 div {
  margin-bottom: 30px;
}

/*------------TEMA 5-----------*/

.tema5 h1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
  color: #ff6551;
  margin-bottom: 30px;
  margin-top: 27px;
  line-height: 1;
  max-width: 12ch;
}

.titel_5 {
  margin-top: -36px;
}

.tema5 p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 25px;
}

.tema5 {
  border-bottom: 1px solid black;
}

.tema5 div {
  margin-bottom: 30px;
}

/*---------TEMAHEADER---------*/

.temaheader {
  margin-top: 20px;
  text-align: center;
  max-width: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 30px;
}
.temaheader h1 {
  font-size: 110px;
  display: inline-block;
  font-family: "Anton", sans-serif;
}

@media (max-width: 994px) {
  body {
    margin: 20px;
  }

  .temaheader h1 {
    font-size: 80px;
  }

  /*--------PORTFOLIO------*/

  .p_header h1 {
    font-size: 80px;
  }

  .menu a {
    font-size: 25px;
  }

  .portfolio div {
    margin-top: 90px;
  }

  .portfolio h2 {
    font-size: 12px;
  }

  /*---------INFO--------*/

  .info {
    display: grid;
    place-items: center;
  }

  .info h1 {
    font-size: 55px;
    margin-bottom: 10px;
  }

  .info h2 {
    font-size: 30px;
  }

  /*------TEMAER------*/

  .tema2 {
    display: grid;
    place-items: center;
  }

  .tema2 h1 {
    font-size: 50px;
  }

  .tema3 {
    display: grid;
    place-items: center;
  }

  .tema3 h1 {
    font-size: 50px;
  }

  .tema4 {
    display: grid;
    place-items: center;
  }

  .tema4 h1 {
    font-size: 50px;
  }

  .tema5 {
    display: grid;
    place-items: center;
  }

  .tema5 h1 {
    font-size: 50px;
  }
}
